<launch>
	
	<arg name="device" default="/dev/video0" />
	<arg name="width" default="640" />
	<arg name="height" default="480" />

	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" required="true" >
		<param name="video_device" value="$(arg device)" />
		<param name="image_width" value="$(arg width)" />
		<param name="image_height" value="$(arg height)" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
	</node>

</launch>
