<launch>
	<param name="robot_description" textfile="$(find oculusprime)/description/oculusprime.urdf" />
	<node pkg="oculusprime" type="dwa_base_controller.py" name="dwa_base_controller" output="screen"/> 
	<node pkg="oculusprime" type="odom_tf.py" name="odom_tf" />

	<node pkg="tf" type="static_transform_publisher" name="base_to_xtion_broadcaster" 
		args="-0.054 0.048 0.29 0 0 0 /base_link /camera_depth_frame 100" />
	<!--
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" 
		args="0 0 0 0 0 0 /map /odom 100" />
-->

	<include file="$(find oculusprime)/launch/move_base_dwa.launch" />

	<include file="$(find oculusprime)/launch/fake_laser.launch" />
	
	<arg name="map" default="map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find oculusprime)/maps/$(arg map)"/>
	<include file="$(find oculusprime)/launch/amcl.launch" />
	
</launch>
