<launch>

	<node pkg="tf2_ros" type="static_transform_publisher" name="base_to_astra_broadcaster" 
		args="-0.054 0.048 0.29 0 0 0 base_link camera_depth_frame" />

	<arg name="camera"      default="camera"/>
	<arg name="publish_tf"  default="true"/>
	<arg name="skipframes"      default="2"/>
	<arg name="depth_registration"  default="false"/>
<!--
	<arg name="use_device_time" default="false"/>
-->
	<arg     if="$(arg depth_registration)" name="depth" value="depth_registered" />
	<arg unless="$(arg depth_registration)" name="depth" value="depth" />
	<param name="/camera/driver/data_skip" value="$(arg skipframes)" />
<!--
	<param name="/camera/driver/use_device_time" value="$(arg use_device_time)" />
-->

	<include file="$(find astra_camera)/launch/astrapro.launch" >
		<arg name="publish_tf" value="$(arg publish_tf)"/>
		    <arg name="rgb_processing" value="false" />
			<arg name="depth_registration" value="false" /> 
			<arg name="depth_processing" value="true" />
			
	</include>

	<!-- depthcamtoscan-->
	<node pkg="oculusprime" type="depthcamtoscan" name="depthcamtoscan" output="screen" required="true"/>


</launch>
