<launch>
	
	<arg name="map" default="map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find oculusprime)/maps/$(arg map)"
		required="true" />
		
	<include file="$(find oculusprime)/launch/amcl.launch" />

	<include file="$(find oculusprime)/launch/move_base_dwa.launch" />
	
</launch>
