<launch>
	
	<param name="robot_description" textfile="$(find oculusprime)/description/oculusprime.urdf" />
	<node pkg="oculusprime" type="odom_tf.py" name="odom_tf" required="true" />

	<node pkg="oculusprime" type="arcmove_globalpath_follower.py" name="arcmove_globalpath_follower" output="screen"
		required="true" /> 

	<node pkg="tf" type="static_transform_publisher" name="base_to_xtion_broadcaster" 
		args="-0.054 0.048 0.29 0 0 0 /base_link /camera_depth_frame 100" />

	<include file="$(find oculusprime)/launch/fake_laser.launch" >
		<arg name="skipframes" value="2" />
		<arg name="floorplane_scan_enable" value="true" />
		<arg name="use_device_time" value="false" /> <!-- false for orbbec 2015 drivers -->
	</include>
	
	<arg name="map" default="map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find oculusprime)/maps/$(arg map)"
		required="true" />
	<include file="$(find oculusprime)/launch/amcl.launch" />

	<include file="$(find oculusprime)/launch/move_base_dwa.launch" />
	
</launch>
