<launch>
	
	<param name="robot_description" textfile="$(find oculusprime)/description/oculusprime.urdf" />
	<node pkg="oculusprime" type="odom_tf.py" name="odom_tf" required="true" />

	<node pkg="oculusprime" type="arcmove_globalpath_follower.py" name="arcmove_globalpath_follower" output="screen"
		required="true" /> 


	<!-- depth cam-->
	<include file="$(find oculusprime)/launch/fake_laser.launch" >
		<arg name="skipframes" value="2" />
<!--
		<arg name="use_device_time" value="false" />
-->
	</include>

	
	<arg name="map" default="map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find oculusprime)/maps/$(arg map)"
		required="true" clear_params="true" />
		
	<include file="$(find oculusprime)/launch/amcl.launch" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"
			clear_params="true" required="true">
		<rosparam file="$(find oculusprime)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find oculusprime)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find oculusprime)/params/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find oculusprime)/params/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find oculusprime)/params/global_planner_params.yaml" command="load" />
		<rosparam file="$(find oculusprime)/params/dwa_local_planner_params.yaml" command="load" />
		<rosparam file="$(find oculusprime)/params/move_base_params.yaml" command="load" />
	</node>
	
</launch>
