<launch>
	
	<param name="robot_description" textfile="$(find oculusprime)/description/oculusprime.urdf" />
	<node pkg="oculusprime" type="odom_tf.py" name="odom_tf" required="true" />

	<node pkg="oculusprime" type="arcmove_globalpath_follower.py" name="arcmove_globalpath_follower" output="screen"
		required="true" /> 


	<!-- lidar -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lidar_broadcaster" 
		args="-0.03 0.0 0.3 0 0 0 base_link camera_depth_frame" /> 
	<node pkg="xaxxon_openlidar" type="lidarbroadcast.py" name="lidarbroadcast" required="true" output="screen"
		clear_params="true"> 
		<param name="frame_id" value="camera_depth_frame"/> 
	</node>	

	
	<arg name="map" default="map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find oculusprime)/maps/$(arg map)"
		required="true" />
	<include file="$(find oculusprime)/launch/amcl.launch" />

	<include file="$(find oculusprime)/launch/move_base_dwa.launch" />
	
</launch>
