
<launch>
	<param name="robot_description" textfile="$(find oculusprime)/description/oculusprime.urdf" />

	<node pkg="oculusprime" type="odom_tf.py" name="odom_tf" required="true"/>
	
	<!-- lidar -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lidar_broadcaster" 
		args="-0.075 0.0 0.288 0 0 0 base_link laser_frame" /> 
	<node pkg="xaxxon_openlidar" type="lidarbroadcast.py" name="lidarbroadcast" required="true" output="screen"
		clear_params="true">
		<param name="dropscan_turnrate" value="45"/>
	</node> 

	<include file="$(find oculusprime)/launch/gmapping.launch" />	
	
	<node pkg="oculusprime" type="map_remote.py" name="map_remote" />


</launch>


