
<launch>
	<param name="robot_description" textfile="$(find oculusprime)/description/oculusprime.urdf" />


	<node pkg="oculusprime" type="odom_tf.py" name="odom_tf" />
	<node pkg="tf" type="static_transform_publisher" name="base_to_xtion_broadcaster" 
		args="-0.054 0.02 0.29 0 0 0 base_link camera_depth_frame 100" />

	<include file="$(find oculusprime)/launch/fake_laser.launch" >
		<arg name="skipframes" value="1" />
		<arg name="floorplane_scan_enable" value="False" />
		<arg name="use_device_time" value="false" /> <!-- false for orbbec 2015 drivers -->
	</include>
	<include file="$(find oculusprime)/launch/gmapping.launch" />	
	
	
	<node pkg="oculusprime" type="map_remote.py" name="map_remote" />

	<!-- adds move_base, needs more cpu, comment out above map_remote.py node -->
<!--
	<node pkg="oculusprime" type="remote_nav.py" name="map_remote" />
	<include file="$(find oculusprime)/launch/move_base_dwa.launch" />
	<node pkg="oculusprime" type="global_path_follower.py" name="global_path_follower" output="screen"/> 
-->


</launch>


