<!-- testing  -->

<launch>

	<node pkg="oculusprime" type="odom_tf.py" name="odom_tf" required="true" output="screen" >
		<param name="odom_lag" value="0.035"/> 
	</node>

	<node pkg="tf" type="static_transform_publisher" name="base_to_neato_lidar_broadcaster" 
	args="-0.063 0.0 0.359 0 0 0 /base_link /neato_laser 100" /> 
	
	<node pkg="oculusprime" type="neato_rpm_controller.py" name="neato_rpm_controller" output="screen"
	required="true" /> 
	
	<node pkg="xv_11_laser_driver" type="neato_laser_publisher" name="neato_laser_publisher"
	args="_port:=/dev/sensors/ftdi_A700eDKk _firmware_version:=2" required="true" /> 


  <arg name="scan_topic" default="scan" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="5.0"/> <!-- 30.0 -->
    <param name="maxRange" value="4.5"/>  
    <param name="maxUrange" value="5.0"/>
	 <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.15"/>
    <param name="astep" value="0.15"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.5"/>
    <param name="angularUpdate" value="0.436"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="30"/>  <!-- 80.0 -->
	<param name="throttle_scans" value="1" /> <!-- default is 1 (no throttle) -->
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>

    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <param name="minimumScore " value="50"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

	<node pkg="oculusprime" type="map_remote.py" name="map_remote" />

</launch>
