<launch>
	
	<param name="robot_description" textfile="$(find oculusprime)/description/oculusprime.urdf" />

	<node pkg="oculusprime" type="odom_tf.py" name="odom_tf" required="true" output="screen" >
		<param name="odom_lag" value="0.035"/> 
	</node>

	<node pkg="tf" type="static_transform_publisher" name="base_to_neato_lidar_broadcaster" 
	args="-0.063 0.0 0.359 0 0 0 /base_link /neato_laser 100" /> 

	<node pkg="oculusprime" type="arcmove_globalpath_follower.py" name="arcmove_globalpath_follower" output="screen"
		required="true" /> 
	
	<node pkg="oculusprime" type="neato_rpm_controller.py" name="neato_rpm_controller" output="screen"
	required="true" /> 

	<node pkg="xv_11_laser_driver" type="neato_laser_publisher" name="neato_laser_publisher"
	args="_port:=/dev/sensors/ftdi_A700eDKk _firmware_version:=2" required="true" /> 
	
	<arg name="map" default="map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find oculusprime)/maps/$(arg map)"
		required="true" />
		
	<include file="$(find oculusprime)/launch/amcl.launch" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find oculusprime)/params/neato_costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find oculusprime)/params/neato_costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find oculusprime)/params/neato_local_costmap_params.yaml" command="load" />
		<rosparam file="$(find oculusprime)/params/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find oculusprime)/params/global_planner_params.yaml" command="load" />

		<rosparam file="$(find oculusprime)/params/dwa_local_planner_params.yaml" command="load" />
		<rosparam file="$(find oculusprime)/params/neato_move_base_params.yaml" command="load" />
	</node>
	
</launch>
